@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat+Alternates&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Poiret+One&family=Source+Serif+Pro:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, * :before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*
font-family: 'Comfortaa', cursive;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Montserrat Alternates', sans-serif;  simple text
*/
/*font-family: 'Comfortaa', cursive;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Montserrat Alternates', sans-serif;  simple text
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
}

header {
  background: black;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
}
.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
}
.section__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #696969;
}
.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #696969;
  margin: 45px auto 0;
  margin-bottom: 45px;
}

body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 2px solid rgb(255, 255, 255); /* отступ вокруг бегунка */
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding-bottom: 12px;
  border-bottom: 0.5px solid white;
}
.header__logo img {
  margin-top: 10px;
  height: 70px;
}
.header__nav {
  text-transform: uppercase;
  font-size: 14px;
}
.header__nav .nav__link {
  padding: 10px 10px;
  border: 3px solid black;
  line-height: 1.2;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.2s linear;
}
.header__nav .nav__link:hover {
  background-color: white;
  color: black;
}
.header__nav .nav__link:hover:after {
  display: block;
  opacity: 1;
}
.header__nav .nav__link:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  display: none;
  left: 0;
  z-index: 1;
  transition: opacity 0.4s linear;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: black;
  background-size: cover;
}
.intro__title {
  margin-top: 150px;
  font-family: "Comfortaa", cursive;
  font-size: 80px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 40px auto 0;
  margin-bottom: 50px;
}
.intro__inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about {
  overflow: hidden;
  background-color: white;
}
.about__item {
  display: flex;
  flex-wrap: wrap;
}
.about__img {
  width: 50%;
  height: 500px;
  position: relative;
}
.about__photo {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 50px;
}
.about__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: black;
  margin-bottom: 35px;
  padding: 0 15px;
}

.whyus {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 0;
}
.whyus:last-child {
  border: none;
}
.whyus__item {
  flex: 1 1 0;
  padding-left: 90px;
  padding-right: 20px;
  position: relative;
}
.whyus__img {
  position: absolute;
  top: 3px;
  left: 0px;
  z-index: 1;
}
.whyus__title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #696969;
  margin-bottom: 10px;
}
.whyus__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.section__whyus {
  background: #000;
  color: white;
}

.masters {
  background: white;
  display: flex;
  justify-content: space-between;
}
.masters__item {
  position: relative;
  margin: 20px;
}
.portfolio {
  background: black;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__img {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0px);
}
.portfolio__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
}
.portfolio__item:hover .portfolio__content {
  opacity: 1;
}
.portfolio__content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 137, 137, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.2s linear;
}
.portfolio__title {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.portfolio__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.section__portfolio {
  background: #000;
}

.section__questions {
  margin-bottom: 25px;
}

.questions__section {
  background: #fff;
  height: 100%;
}
.questions__item {
  display: flex;
  position: relative;
  padding: 0 25px;
}
.questions__arrow--left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}
.questions__arrow--right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}
.questions__answer {
  margin: 15px 0 0 70px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
}
.questions__question {
  margin-left: 70px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}
.questions__question:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  background-color: #000000;
  margin-right: 10px;
}
.questions span {
  display: none;
}

.block {
  width: 800px;
  height: 100px;
  display: block !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section__contacts {
  margin-top: 10px;
  color: #000000;
}

.contacts {
  display: flex;
  justify-content: space-between;
}
.contacts__item {
  position: relative;
  margin: 40px;
}
.contacts__title {
  font-size: 20px;
}
.contacts a {
  color: #000000;
}
.contacts a:hover {
  color: #8b8b8b;
}

.section__how-to-care {
  background-color: #000;
}

.how-to-care {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 700px;
  min-height: 400px;
}
.how-to-care__item {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.how-to-care__img {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: 0;
  transform: translate3d(-50%, -50%, 0px);
}

.section__footer {
  height: 150px;
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 25px !important;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__link img {
  height: 28px;
  margin-left: 7px;
  transition: color 0.2s linear;
}
.footer__link img:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.footer__link img:hover:after {
  display: block;
  opacity: 1;
}
.footer__link img:hover:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  display: none;
  left: 0;
  z-index: 1;
  transition: opacity 0.4s linear;
}
.footer__link img__text {
  padding-top: 5px;
}
.footer__info {
  text-align: center !important;
  margin-top: 65px;
  padding-bottom: 15px;
  color: white;
}
.footer__info a {
  color: white;
}
.footer__info a:hover {
  color: #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
}