@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat+Alternates&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Poiret+One&family=Source+Serif+Pro:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
* :before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*
font-family: 'Comfortaa', cursive;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Montserrat Alternates', sans-serif;  simple text
*/
/*font-family: 'Comfortaa', cursive;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Montserrat Alternates', sans-serif;  simple text
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
}

header {
  background: black;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding-top: 120px;
}
.section__header {
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
}
.section__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #696969;
}
.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #696969;
  margin: 45px auto 0;
  margin-bottom: 45px;
}

body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 2px solid rgb(255, 255, 255); /* отступ вокруг бегунка */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding-bottom: 12px;
  border-bottom: 0.5px solid white;
}
.header__logo img {
  margin-top: 10px;
  height: 70px;
}
.header__nav {
  text-transform: uppercase;
  font-size: 14px;
}
.header__nav .nav__link {
  padding: 10px 10px;
  border: 3px solid black;
  line-height: 1.2;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.2s linear;
}
.header__nav .nav__link:hover {
  background-color: white;
  color: black;
}
.header__nav .nav__link:hover:after {
  display: block;
  opacity: 1;
}
.header__nav .nav__link:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  display: none;
  left: 0;
  z-index: 1;
  transition: opacity 0.4s linear;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
  background: black;
  background-size: cover;
}
.intro__title {
  margin-top: 150px;
  font-family: "Comfortaa", cursive;
  font-size: 80px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 40px auto 0;
  margin-bottom: 50px;
}
.intro__inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.about {
  margin: 10px 0;
  overflow: hidden;
  background-color: white;
}
.about__item {
  display: flex;
  flex-wrap: wrap;
}
.about__img {
  width: 50%;
  height: 500px;
  position: relative;
}
.about__photo {
  width: 100%;
  position: absolute;
  border-radius: 15%;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 50px;
}
.about__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: black;
  margin-bottom: 35px;
  padding: 0 15px;
}

.whyus {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 0;
}
.whyus:last-child {
  border: none;
}
.whyus__item {
  flex: 1 1 0;
  padding-left: 90px;
  padding-right: 20px;
  position: relative;
}
.whyus__img {
  position: absolute;
  top: 3px;
  left: 0px;
  z-index: 1;
}
.whyus__title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #696969;
  margin-bottom: 10px;
}
.whyus__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.section__whyus {
  background: #000;
  color: white;
}

.masters {
  background: white;
  display: flex;
  justify-content: space-between;
}
.masters__item {
  position: relative;
  margin: 20px;
}
.portfolio {
  background: black;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__img {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0px);
}
.portfolio__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
}
.portfolio__item:hover .portfolio__content {
  opacity: 1;
}
.portfolio__content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 137, 137, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.2s linear;
}
.portfolio__title {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.portfolio__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.section__portfolio {
  background: #000;
}

.section__questions {
  margin-bottom: 25px;
}

.questions__section {
  background: #fff;
  height: 100%;
}
.questions__item {
  display: flex;
  position: relative;
}
.questions__arrow--left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}
.questions__arrow--right {
  margin-left: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}
.questions__answer {
  margin: 15px 0 20px 35px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #000;
  padding-right: 15px;
}
.questions__question {
  margin-left: 35px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: #333333;
}
.questions__question:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  background-color: #000000;
  margin-right: 10px;
}
.questions span {
  display: none;
}

.slider {
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.transition-none {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.slider__control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  user-select: none;
}

.slider__control_show {
  display: flex;
}

.slider__control:focus,
.slider__control:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__indicators {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 20px !important;
  display: flex !important;
  justify-content: center !important;
  padding-left: 0 !important;
  margin: 0 15% !important;
  list-style: none;
  user-select: none;
}

.slider__indicator {
  flex: 0 1 auto !important;
  width: 30px !important;
  height: 4px !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  background-clip: padding-box !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  cursor: pointer !important;
}

.slider__indicator_active {
  background-color: #fff !important;
}

.slider {
  max-width: 960px;
}

/* дополнительные стили для этого примера */
.slider__items {
  counter-reset: slide;
}

.slider__item {
  height: 400px;
  overflow: hidden;
  position: relative;
  counter-increment: slide;
}

.slider img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  border-radius: 10%;
  margin: 7px;
}

.slider__item_inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 15px;
  bottom: 15px;
  overflow: hidden;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider__item_img {
  flex: 0 0 200px;
  max-width: 100px;
  padding: 10px !important;
}

@media (max-width: 600px) {
  .slider__item_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 50%;
  }
  .slider__item_photo {
    margin: 5px;
  }
  .slider__item {
    height: 670px;
  }
  .slider__item_text {
    font-size: 16px !important;
  }
}
.slider__item_testimonial {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 576px) {
  .slider__item_inner {
    flex-direction: row;
  }
  .slider__item_testimonial {
    margin-left: 15px;
  }
  .slider__item_img {
    flex: 0 0 150px;
    max-width: 150px;
  }
  .slider__item_testimonial {
    text-align: left;
  }
}
.slider__item_name {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(53, 53, 53);
}

.slider__item_text {
  font-size: 25px;
  color: black;
  line-height: 40px;
}

.section__contacts {
  margin-top: 10px;
  color: #000000;
}

.contacts {
  margin-bottom: 130px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.contacts__item {
  margin: 0 20px 15px 0;
  position: relative;
}
.contacts__title {
  font-size: 20px;
}
.contacts a {
  color: #000000;
}
.contacts a:hover {
  color: #8b8b8b;
}

.section__how-to-care {
  background-color: #000;
}

.how-to-care {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 700px;
  min-height: 400px;
}
.how-to-care__item {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.how-to-care__img {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: 0;
  transform: translate3d(-50%, -50%, 0px);
}

.section__footer {
  position: absolute;
  height: 150px;
  background-color: black;
  width: 100% !important;
  color: white;
  padding-top: 25px !important;
}

.footer {
  width: 4;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__link img {
  height: 28px;
  margin-left: 7px;
  transition: color 0.2s linear;
}
.footer__link img:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.footer__link img:hover:after {
  display: block;
  opacity: 1;
}
.footer__link img:hover:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  display: none;
  left: 0;
  z-index: 1;
  transition: opacity 0.4s linear;
}
.footer__link img__text {
  padding-top: 5px;
}
.footer__info {
  text-align: center !important;
  margin-top: 65px;
  padding-bottom: 15px;
  color: white;
}
.footer__info a {
  color: white;
}
.footer__info a:hover {
  color: #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
}

@media (max-width: 1030px) {
  .header__inner .about {
    margin: 15px 0;
  }
  .about__item {
    flex-direction: column;
  }
  .about__img {
    width: 1000px;
  }
  .about__content {
    margin-top: 40px;
    width: 100%;
  }
  .about__text {
    font-size: 24px;
  }
  .portfolio__item {
    width: 33%;
  }
  .whyus__text {
    font-size: 20px;
  }
  .footer__inner {
    justify-content: space-around;
    line-height: 20px;
  }
  .questions__answer {
    padding: 0 15px;
    margin-left: 15px;
    font-size: 16px;
  }
  .questions__question {
    margin-left: 15px;
    font-size: 28px;
    padding: 0 15px;
  }
  .how-to-care__item {
    display: block;
  }
  .whyus {
    margin: 0 25px;
  }
  .contacts__item {
    margin: 0 25px;
  }
}
@media (max-width: 730px) {
  body {
    width: 730px;
    justify-content: center;
  }
  .container {
    width: 730px;
    max-width: 100%;
    margin: 0 auto;
  }
  .how-to-care__img {
    height: 25%;
  }
  .portfolio__item {
    width: 50% !important;
  }
}
@media (max-width: 430px) {
  body {
    width: 400px;
    justify-content: center;
  }
  .container {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
  }
  .how-to-care__img {
    height: 25%;
  }
}