@import "Null_style.scss"; //файл обнуление 
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}


.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    &__inner {
        display: flex;
        padding: 35px 0 40px 0;
        justify-content: space-between;
        border-bottom: 1px solid #4c4e65;
        align-items: center;
    }
}

.nav {
    .nav__link {
        margin-left: 50px;
        opacity: 0.75;
        font-family: Raleway;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        transition: opacity 0.1s linear;
        &:hover{
            opacity: 1;
        }
        &:first-child{
            margin-left: 0;
        }
    }

}



.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background: #292d48 url("../Image/Header/rectangle_1_6.jpg") center no-repeat;
    padding-top: 100px;

    &__title{
        font-family: 'Open Sans';
        font-size: 65px;
        line-height: 1.1;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
    }

    &__inner{
        max-width: 970px;
        width: 100%;
        margin: 0 auto;
    }
    &__subtitle{
        margin-bottom: 60px;
        font-size: 22px;
        line-height: 1.5;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
    }
}

.btn{
    text-align: center;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;

    &--red{
        background-color: #e84545;
        &:hover {
            background-color: #e84533;
        }
    }
    &--long{
        min-height: 280px;
    }
}




.features {
    display: flex;
    margin: 120px 0 120px 0;
    flex-wrap: wrap;
    &__item {
        margin: 25px 0;
        width: 33.33333%;
        text-align: center;
        padding: 0 40px;
    }
    &__title {
        margin: 30px 0 20px 0;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #2d3033;
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: #6c7279;
    }
}


.works {
    display: flex;
    flex-wrap: wrap;
    &__img{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate3d(-50%, -50%, 0px);
    }
    &__item {
        width: 25%;
        height: 350px;
        position:relative;
        overflow: hidden;
        &:hover .works__content{
            opacity: 1;
        }
        border: 1px solid white;
    }
    &__content {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;

        background-color: rgba(232, 69, 69, 0.9);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        transition: opacity 0.2s linear;
    }
    &__title {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__text {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
    }
}


.team{
    margin: 100px 0 70px;
    &__inner{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &__item{
        width: 25%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    &__photo{
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__name{
        font-size: 22px;
        line-height: 1.2;
        font-weight: 400;
        color: #2d3033;
        margin-top: 30px;
        margin-bottom: 8px;
    }
    &__position{
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #e84545;
        margin-bottom: 28px;
    }
    &__text{
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: #6c7279;
        margin-bottom: 30px;
    }
}


.social{
    display: flex;
    &--footer{
        justify-content: center;
        & .social__item{
            background: none;
            border: 2px solid #fff;
            border-radius: 2px;
            &:hover{
                background-color: #fff;
            }
        }
        & .social__icon{
            fill: #fff;
        }

    }
    &__item{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border: 1px solid #e8ecee;
        margin-right: 4px;
        &:hover{
            background-color: #e8ecee;
            .social__icon:hover{
                fill: black;
            }
        }
    }
    &__icon{
        display: block;
        height: 18px;
        width: 18px;
        fill: #c6cacc;
    }
}


.reviews {
    overflow: hidden;
    background-color: #53354a;
    &__item {
        display: flex;
        flex-wrap: wrap;
    }

    &__img {
        width: 50%;
        height: 500px;
        position: relative;
    }

    &__photo{
        position: absolute;
        top: 50%;
        right:0;
        z-index: 1;
        transform: translateY(-50%);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 80px;

    }
    &__text{
        font-family: Cardo;
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
        font-style: italic;
        color: #ffffff;
        margin-bottom: 35px;

    }
    &__autor {
        font-size: 13px;
        line-height: 21px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
}




.download {
    text-align: center;
    margin: 100px 0;
    .download__title {
        font-size: 28px;
        line-height: 21px;
        font-weight: 300;
        color: #2d3033;
    }
    .download__text {
        margin: 15px 0 40px;
        font-size: 13px;
        line-height: 21px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2d3033;
    }
}


.footer{

    background-color: #3a3e64;
    &__inner{
        display: flex;
        flex-wrap: wrap;
    }
    &__block{
        width: 33.33333%;
        margin: 70px 0;
        text-align: center;
    }
    &__title{
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__address{
        font-style: normal;
        opacity: 0.5;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #ffffff;
    }


}
.copyright{
    background-color: #313454;
    padding: 20px 0; 
    &__text{
        text-align: center;
        font-size: 14px;
        color:gray;
        line-height: 1.5;
        & span{
            color: #fff;
        }
    }

}


