.about {
    overflow: hidden;
    background-color: white;
    &__item {
        display: flex;
        flex-wrap: wrap;
    }

    &__img {
        width: 50%;
        height: 500px;
        position: relative;
    }

    &__photo{
        width: 100%;
        position: absolute;
        top: 50%;
        right:0;
        z-index: 1;
        transform: translateY(-50%);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 50px;

    }
    &__text{
        font-family: $font-main;
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
        color: black;
        margin-bottom: 35px;
        padding: 0 15px;
    }
}