.section__how-to-care{
    background-color: black;
    height: 1100px;

}
.how-to-care{
    display: flex;
    flex-wrap: wrap;
    &__item{
        width: 50%;
        position:relative;
        overflow: hidden;
    }
}