.section__how-to-care {
  background-color: #000;
}
.how-to-care {
  &__main {
    color: rgb(255, 255, 255) !important;
    font-family: 'Myriad Pro' !important;
    font-size: 38.4px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.05em;
    color: #ffffff;
    display: flex;
    text-align: center;
    list-style-type: none;
  }
  &__item {
    align-items: center;
    padding: 15px 25px;
  }
  &__title {
    font-family: $font-beer;
    font-size: 70px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.05em;
    color: #ffffff;
    padding-bottom: 10px;
  }
  &__paragraph{
    text-align: left;
  }
  &__questions{
    display: flex;
    padding: 15px 0;
    text-align: start;
    &-item{
        padding: 0 15px;
    }
    &-question{
        font-family: $font-beer;
        font-size: 50px;
        line-height: 1.2;
        font-weight: 400;
        font-style: italic;
        letter-spacing: -0.05em;
        color: #ffffff;
        padding-bottom: 10px;
    }
  }
  &__list{
    &-title{
        font-family: $font-beer;
        font-size: 70px;
        line-height: 1.2;
        font-weight: 400;
        font-style: italic;
        letter-spacing: -0.05em;
        color: #ffffff;
        padding-bottom: 10px;
    }
    &-ul{
        text-align: left;
    }
  }
  &__footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-item{
        padding: 0 25px;
    }
    &-download img{
        height: 30px;
    }
    &-text{
        padding: 0 50px;
        font-size: 22px;
    }
    &-logo img{
        height: 128px;
        opacity: 0.25;
    }
  }
}
