.masters{
    background: #ffff;
    display: flex;
    justify-content: space-between;
    &__item{
        position: relative;
        margin: 20px;
	}
    &__descriptrion{
    }
    &__photo{
        
    }
}