.portfolio {
    background:black;
    display: flex;
    flex-wrap: wrap;
    
    &__img{
        position: absolute;
        height: 100%;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate3d(-50%, -50%, 0px);
    }
    &__item {
        width: 25%;
        height: 350px;
        position:relative;
        overflow: hidden;
        &:hover .portfolio__content{
            opacity: 1;
        }
        border: 1px solid white;
    }
    &__content {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;

        background-color: rgba(139, 137, 137, 0.9);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        transition: opacity 0.2s linear;
    }
    &__title {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__text {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
    }
}
.section__portfolio{
    background: #000;
}