.whyus {
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	padding: 50px 0;
	&:last-child{
		border: none;
	}
	&__item {
		flex: 1 1 0;
		padding-left: 90px;
		padding-right: 20px;
		position: relative;
	}
	&__img{
		position: absolute;
		top: 3px;
		left: 0px;
		z-index: 1;
	}
	&__title{
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		color: #696969;
		margin-bottom: 10px;
	}
	&__text{
		font-family: Roboto;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		color: #999999;
	}
}
.section__whyus{
	background: #000;
}