@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat+Alternates&family=Poiret+One&display=swap');
/*font-family: 'Comfortaa', cursive;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Montserrat Alternates', sans-serif;  simple text
*/

@font-face {
  font-family: 'beer-money';
  src: url('/./fonts/beer-money.ttf.woff') format('woff'),
    url('/./fonts/beer-money.ttf.svg') format('svg'),
    url('/./fonts/beer-money.ttf.eot'),
    url('/./fonts/beer-money.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url(/./fonts/MYRIADPRO-REGULAR.OTF) format('ttf');
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-main;
  font-size: 15px;
}
header {
  background: black;
}
.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding-top: 120px;
  &__header {
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
  }
  &__title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #696969;
    &:after {
      content: '';
      display: block;
      width: 60px;
      height: 3px;
      background-color: #696969;
      margin: 45px auto 0;
      margin-bottom: 45px;
    }
  }
}
body::-webkit-scrollbar {
  width: 9px;
  &-track {
    background: black;
  }
  &-thumb {
    background-color: rgb(0, 0, 0); /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    border: 2px solid rgb(255, 255, 255); /* отступ вокруг бегунка */
  }
}
