@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Poiret+One&family=Source+Serif+Pro:wght@300&display=swap');

/*
font-family: 'Fira Sans', sans-serif;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Source Serif Pro', serif;  simple text
*/

body{
    font-family: 'Source Serif Pro', serif;
}
