@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat+Alternates&family=Poiret+One&display=swap');
/*font-family: 'Comfortaa', cursive;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Montserrat Alternates', sans-serif;  simple text
*/
body{
    font-family: $font-main;
    font-size: 15px;
}
header{
	background: black;
}
.container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.section {
	padding: 80px 0;
	&__header {
		width: 100%;
		max-width: 950px;
		margin:0 auto 50px;
		text-align: center;
	}
	&__title {
		font-size: 30px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #696969;
		&:after{
			content: "";
			display: block;
			width: 60px;
			height: 3px;
			background-color: #696969;
			margin: 45px auto 0;
			margin-bottom: 45px;
		}
	}
}
