@media (max-width: 430px) {
    body {
      width: 400px;
      justify-content: center;
    }
    .container {
      width: 400px;
      max-width: 100%;
      margin: 0 auto;
    }
    .how-to-care__img {
      height: 25%;
    }
  }