/*
font-family: 'Comfortaa', cursive;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Montserrat Alternates', sans-serif;  simple text
*/

$font-main: 'Montserrat Alternates', sans-serif;
$font-accent: 'Poiret One', cursive;
$font-logo: 'Comfortaa', cursive;
$font-beer: 'beer-money';