/*
font-family: 'Fira Sans', sans-serif;  logo
font-family: 'Poiret One', cursive;  unical text
font-family: 'Source Serif Pro', serif;  simple text
*/

$font-main: 'Source Serif Pro', serif;
$font-accent: 'Poiret One', cursive;
$font-logo: 'Fira Sans', sans-serif;